#if( $uihandlers )
    #set( $extends = "ViewWithUiHandlers<${name}UiHandlers>" )
#else 
    #set( $extends = "ViewImpl" )
#end

package ${package};

import com.google.gwt.uibinder.client.UiBinder;
import com.google.gwt.uibinder.client.UiField;
import com.google.gwt.user.client.ui.PopupPanel;
import com.google.gwt.user.client.ui.Widget;
import com.google.inject.Inject;
import com.google.web.bindery.event.shared.EventBus;
import com.gwtplatform.mvp.client.ViewWithUiHandlers;
import com.gwtplatform.mvp.client.ViewImpl;

public class ${name}View extends $extends implements ${name}Presenter.MyView {
    public interface Binder extends UiBinder<Widget, ${name}View> {
    }

    @UiField
    PopupPanel popup;

    @Inject
    ${name}View(Binder binder, EventBus eventBus) {
        initWidget(binder.createAndBindUi(this));

        popup.setPixelSize(500, 500);
    }

    @Override
    public void center() {
        popup.center();
    }

    @Override
    public void hide() {
        popup.hide();
    }

    @Override
    public void showRelativeTo(Widget target) {
        popup.showRelativeTo(target);
    }
}
